<footer id="site-footer" class="site-footer footer-v1">
    <div class="container">
        <div class="row">
            <div style="padding-right:0" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">About Company</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="#">About Us</a></li>
                        <li class="list-item"><a href="#">Contact Us</a></li>
                        <li class="list-item"><a href="#">Become A partner</a></li>
                        <li class="list-item"><a href="#">Change your Consultant</a></li>
                        <li class="list-item"><a href="#">Online Payment</a></li>

                    </ul>
                </div>
            </div>
            <div style="padding-right:0" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Company Policies</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="#">Privicy Policy</a></li>
                        <li class="list-item"><a href="#">Terms Of Service</a></li>
                        <li class="list-item"><a href="#">Terms Of Use</a></li>
                        <li class="list-item"><a href="#">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div style="padding-right: 0;" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Popular Services</h5>
                    <ul class="list-items">
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[0] %>"><%= latestFavourat.favourates.nameOfService[0] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[1] %>"><%= latestFavourat.favourates.nameOfService[1] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[2] %>"><%= latestFavourat.favourates.nameOfService[2] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[3] %>"><%= latestFavourat.favourates.nameOfService[3] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[4] %>"><%= latestFavourat.favourates.nameOfService[4] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[5] %>"><%= latestFavourat.favourates.nameOfService[5] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[6] %>"><%= latestFavourat.favourates.nameOfService[6] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[7] %>"><%= latestFavourat.favourates.nameOfService[7] %></a>
                        </li>
                        <li class="list-item">
                            <a
                                href="<%= latestFavourat.favourates.slug_service[8] %>"><%= latestFavourat.favourates.nameOfService[8] %></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div style="padding-right:0" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Knowledge Center</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="about-us.html">Govt. Notifications/ Circulars</a></li>
                        <li class="list-item"><a href="faq.html">Minimum Wages</a></li>
                        <li class="list-item"><a href="blog.html">Blogs</a></li>

                    </ul>
                </div>
            </div>
            <div style="padding-right:0" class="col-lg col-md col-sm col-12">
                <div class="widget-footer">
                    <h5 class="text-white">Login</h5>
                    <ul class="list-items">
                        <li class="list-item"><a href="/login/client">Client</a></li>
                        <li class="list-item"><a href="/login/employee">Team</a></li>
                        <li class="list-item"><a href="/login/admin">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-65">
            <div class="col-md-12 col-lg-12" style="text-align: center;">
                <p class="copyright-text">Copyright © 2020 Rapport by ThemeModern. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>