<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Order Form </title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <% if(!passedMessage){ %>
    <link rel="stylesheet" href="/css/royal-preload.css" />
    <% } %>
    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css">
    <!-- styles for vertical tabs -->
    <style>
        .pay-now {
            width: 10% !important;
            display: inline-block;

        }

        .form-check {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #content {
            padding-bottom: 100px;
        }

        .alert {
            border-radius: 0;
            position: absolute;
            top: 5px;
        }

        .main-form {
            position: relative;
        }

        @media (max-width: 956px) {
            .forgot-password {
                text-align: left;

            }

            .alert {

                top: 20px;
                right: 10px;
            }

            #content {
                padding-bottom: 0;
            }


        }

        .submit-button {
            text-align: center;
        }

        .top {
            text-align: center;
        }

        h4 {
            font-weight: 500;
            color: rgba(255, 255, 255, 0.808);
        }

        .question {
            padding: 30px 0;
        }

        h5 {
            color: whitesmoke;
        }

        .select {
            background-color: rgba(255, 255, 255, 0.384);
            border-color: rgba(255, 255, 255, 0.384);
        }

        select {
            background: rgba(255, 255, 255, 0.3);
            width: 100%;
            color: #333333c7;
        }
    </style>

</head>

<body class="royal_preloader">
    <div id="page" class="site">
        <%- include("./partials/navbar") %>

        <div id="content" class="site-content">
            <section class="contact-page">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <form action="/orderForm" method="post" class="wpcf7">
                                <input type="text" value="<%= nameOfService %>" name="nameOfService" style="display: none;">
                                <div class="main-form">
                                    <div class="stepOne" id="stepOne">
                                        <% if(passedMessage){ %>
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <strong>Oops!</strong> <%= passedMessage %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <% } %>
                                        <h2>Order Form</h2>

                                        <p class="font14">Your email address will not be published. Required fields are
                                            marked *
                                        </p>
                                        <h4>Amount to be paid: ₹ <span style="color: white;"><%= pricing %> + 18% GST
                                            </span>
                                        </h4>
                                        <div class="row">
                                            <p class="col-lg-6 col-md-6 col-sm-12">
                                                <input type="text" name="name" value="" size="40" class=""
                                                    id="customer-name" aria-required="true" aria-invalid="false"
                                                    placeholder="Name *" required>
                                            </p>
                                            <p class="col-lg-6 col-md-6 col-sm-12">
                                                <input type="text" name="company_name" value="" size="40" class=""
                                                    aria-required="true" aria-invalid="false"
                                                    placeholder="Company Name *" required>
                                            </p>
                                            <p class="col-lg-6 col-md-6 col-sm-12">
                                                <input type="email" name="email" value="" id="customer-email" size="40"
                                                    class="" aria-required="true" aria-invalid="false"
                                                    placeholder="Your Email *" required>
                                            </p>
                                            <p class="col-lg-6 col-md-6 col-sm-12">
                                                <input type="number" name="contact_number" value=""
                                                    id="customer-contact" size="40" class="" aria-required="true"
                                                    aria-invalid="false" placeholder=" Contact Information ">
                                            </p>
                                            <p class="col-lg-6 col-md-6 col-sm-12">
                                                <input type="text" name="primaryBusiness" value="" size="40" class=""
                                                    aria-required="true" aria-invalid="false"
                                                    placeholder="Primary Business Activity *" required>
                                            </p>
                                            <p class="col-lg-6 col-md-6 col-sm-12">
                                                <input type="number" name="employeeCount" value="" size="40" class=""
                                                    aria-required="true" aria-invalid="false"
                                                    placeholder="NUmber of employees *" required>
                                            </p>
                                            <p class="col-lg-12 col-md-12 col-sm-12">
                                                <textarea type="text" name="billingAddress" rows="4" size="40" class=""
                                                    aria-required="true" aria-invalid="false"
                                                    placeholder="Complete Billing address *" required></textarea>
                                            </p>
                                            <input type="hidden" name="country" id="countryId" value="IN" />

                                            <p class="col-lg-6 col-md-6 col-sm-12">
                                                <select name="state" class="states order-alpha" id="stateId">
                                                    <option value="">Select State</option>
                                                </select>
                                            </p>
                                            <p class="col-lg-6 col-md-6 col-sm-12">
                                                <select name="city" class="cities order-alpha" id="cityId">
                                                    <option value="">Select City</option>
                                                </select>
                                            </p>
                                        </div>
                                        <p>
                                        <div class="submit-button">

                                            <input type="text" style="display: none;" value="<%= serviceType %>"
                                                name="serviceType">
                                            <button id="rzp-button1" value="<%=idOfService %>" name="idOfService"
                                                class="octf-btn octf-btn-light" type="submit">Go to payment</button>

                                        </div>
                                        </p>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3">
                            <div>
                                <div class="ot-heading">
                                    <span>// contact details</span>
                                    <h2 class="main-heading">Contact us</h2>
                                </div>
                                <div class="space-5"></div>
                                <div class="contact-info box-style1">
                                    <i class="flaticon-world-globe"></i>
                                    <div class="info-text">
                                        <h6>Our Address:</h6>
                                        <p>411 University St, Seattle, USA</p>
                                    </div>
                                </div>
                                <div class="contact-info box-style1">
                                    <i class="flaticon-envelope"></i>
                                    <div class="info-text">
                                        <h6>Our Mailbox:</h6>
                                        <p>Rapport@mail.net</p>
                                    </div>
                                </div>
                                <div class="contact-info box-style1">
                                    <i class="flaticon-phone-1"></i>
                                    <div class="info-text">
                                        <h6>Our Phone:</h6>
                                        <p>+1 -800-456-478-23</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <%- include("partials/footer") %>


        <!-- #site-footer -->
    </div><!-- #page -->
    <a id="back-to-top" href="#" class="show"><i class="flaticon-up-arrow"></i></a>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/header-mobile.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- REVOLUTION JS FILES -->

    <script src="plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>

    <!-- REVOLUTION SLIDER SCRIPT FILES -->
    <script src="/js/rev-script-2.js"></script>
    <script src="/js/royal_preloader.min.js"></script>
    <script>
        window.jQuery = window.$ = jQuery;
        (function ($) {
            "use strict";
            //Preloader
            Royal_Preloader.config({
                mode: 'logo',
                logo: '/images/2d-pnd.png',
                logo_size: [250, 75],
                showProgress: false,
                showPercentage: true,
                text_colour: '#000000',
                background: '#ffffff'
            });
        })(jQuery);
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        $("#next-step-button").click(function (e) {
            e.preventDefault();
            $("#stepOne").hide();
            $("#stepTwo").show()
        })
        $("#go-back-button").click(function (e) {
            e.preventDefault();
            $("#stepOne").show();
            $("#stepTwo").hide()
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//geodata.solutions/includes/statecity.js"></script>
</body>

</html>